@import 'leaflet/control/_HazDevLayers.scss';
@import 'leaflet/control/_Attribution.scss';
@import 'leaflet/control/_Scale.scss';

/* TODO, remove once DetailView(s) are complete */
.detail-description,
.detail-download-view,
.detail-map-image,
.detail-summary,
.detail-view {
  background-color: #fafafa;
  border: 1px solid #ededed;
  margin: 1em 0;
  padding: 1em;
}

.summary-map-view {
  height: 45em;
}

.leaflet-control-container > .leaflet-bottom {

  > .leaflet-control-scale {
    margin: 0 0 0 10px;
  }

  > .leaflet-control-attribution {
    position: absolute;
  }
}
